{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules"       : true
  },
  "rules": {
    "eqeqeq"              : [2, "smart"],
    "guard-for-in"        : 2,
    "no-new"              : 2,
    "no-plusplus"         : 0,
    "no-undef"            : 2,
    "strict"              : 0,
    "no-trailing-spaces"  : 2,
    "no-unused-vars"      : 2,
    "no-shadow"           : 0,
    "comma-spacing"       : 0,
    "quotes"              : [1, "single", "avoid-escape"],
    "no-loop-func"        : 0,
    "no-cond-assign"      : 0,
    "no-underscore-dangle": 0,

    "semi"                : [2, "always"],
    "no-debugger"         : 2,
    "no-eq-null"          : 2,
    "no-eval"             : 2,
    "no-iterator"         : 2,
    "no-multi-str"        : 2,
    "no-proto"            : 2,
    "no-script-url"       : 2,
    "no-irregular-whitespace" : 2
  },
  "globals"       : {
    "td"          : false
  }
}
