<!DOCTYPE html>
<html>
{%include head.html %}

<body>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" style="position: fixed; top: -1500px;">
    <symbol id="tornado-logo">
      	<rect x="4.736" y="4.124" width="91" height="3" style="fill: currentColor;"/>
      	<rect x="6.736" y="9.124" width="88" height="3" style="fill: currentColor;"/>
        <rect x="9.736" y="14.124" width="81" height="3" style="fill: currentColor;"/>
        <rect x="11.736" y="19.124" width="74" height="3" style="fill: currentColor;"/>
        <rect x="13.736" y="24.124" width="69" height="3" style="fill: currentColor;"/>
        <rect x="16.736" y="29.124" width="63" height="3" style="fill: currentColor;"/>
        <rect x="18.736" y="34.124" width="59" height="3" style="fill: currentColor;"/>
      	<rect x="18.736" y="39.124" width="57" height="3" style="fill: currentColor;"/>
      	<rect x="16.736" y="44.124" width="55" height="3" style="fill: currentColor;"/>
      	<rect x="13.736" y="49.124" width="54" height="3" style="fill: currentColor;"/>
        <rect x="11.736" y="54.124" width="52" height="3" style="fill: currentColor;"/>
        <rect x="10.736" y="59.124" width="50" height="3" style="fill: currentColor;"/>
        <rect x="8.736" y="64.124" width="47" height="3" style="fill: currentColor;"/>
        <rect x="5.736" y="69.124" width="44" height="3" style="fill: currentColor;"/>
        <rect x="8.736" y="74.124" width="35" height="3" style="fill: currentColor;"/>
        <rect x="10.736" y="79.124" width="27" height="3" style="fill: currentColor;"/>
      	<rect x="8.736" y="84.124" width="25" height="3" style="fill: currentColor;"/>
      	<rect x="5.736" y="89.124" width="23" height="3" style="fill: currentColor;"/>
      	<rect x="4.736" y="94.124" width="19" height="3" style="fill: currentColor;"/>
      	<rect x="6.736" y="99.124" width="13" height="3" style="fill: currentColor;"/>
      	<rect x="9.736" y="104.124" width="8" height="3" style="fill: currentColor;"/>
    </symbol>
  </svg>
  <div id="body">
    {%include nav.md %}
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
