@font-face {
    font-family: 'MeteoconsRegular';
    src: url('/tornado/fonts/meteocons-webfont.eot');
    src: url('/tornado/fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/tornado/fonts/meteocons-webfont.woff') format('woff'),
         url('/tornado/fonts/meteocons-webfont.ttf') format('truetype'),
         url('/tornado/fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}
